{% extends 'login/base.html' %}

{% block title %}
    #SOMOSKYO | Cambio de Contraseña
{% endblock %}

{% block content %}
    <h2>Cambia tu Contraseña</h2>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p>Tienes errores en el formulario</p>
                    {% for field in form %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {{ form.as_p }}
            <button type="submit" href="{% url 'login:password_change_done' %}" class="button">Actualiza contraseña</button>
        </form>
    </div>
    <a href="{% url 'login:home' %}" class="btn btn-dark">Volver</a>
{% endblock %}
