{% extends 'login/base.html' %}

{% block title %}
    #SOMOSKYO | Establecer nueva contraseña
{% endblock %}

{% block content %}
<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        <h2>Establecer nueva contraseña</h2>

        <div class="input-field">
            {{ form.new_password1 }}
            <label for="id_new_password1">Ingresa tu nueva contraseña</label>
        </div>

        <div class="input-field">
            {{ form.new_password2 }}
            <label for="id_new_password2">Confirma tu nueva contraseña</label>
        </div>

        <button type="submit">Restablecer contraseña</button>
    </form>
</div>
{% endblock %}
