{% extends 'login/base.html' %}

{% block title %}
    #SOMOSKYO | Recuperar contraseña
{% endblock %}

{% block content %}
<div class="wrapper">
    <form method="post">
        {% csrf_token %}
        <h2>Recuperar Contraseña</h2>

        <div class="input-field">
            {{ form.email }}
            <label for="id_email">Ingresa tu email</label>
        </div>

        <button type="submit">Enviar enlace de recuperación</button>

        <div class="register">
            <p><a href="{% url 'login:login' %}">Volver</a></p>
        </div>
    </form>
</div>
{% endblock %}
