{% extends 'socio/base.html' %}

{% block title %}
    #SOMOSKYO | Actualización de Perfil Exitoso
{% endblock %}

{% block content %}
<section class="section has-img-bg pb-0">
    <div class="container">
        <div class="mt-5 py-4 border-top border-secondary"></div>
        <h4 class="section-title text-center text-success">¡Perfil Actualizado Exitosamente!</h4>
        <p class="text-center mt-4">Tu perfil ha sido actualizado correctamente.</p>
        <div class="text-center mt-3">
            <a href="{% url 'socio:home' %}" class="btn btn-primary">Volver al Inicio</a>
        </div>
    </div>
</section>
{% endblock %}

